---
const {title, icon} = Astro.props;
---

<style>
    @import url("../../styles/services/components/serviceCardComponent.css");
</style>
<div class="services-card-component">
    <div class="service-card-icon">
        { icon }
    </div>
    <h3 class="service-card-title">{ title }</h3>
</div>
