---
const { title, icon, category } = Astro.props;
import "../../styles/services/components/serviceCardComponent.css";
---
<div class="services-card-component">
    <a href={category} style="text-decoration: none; padding-inline: 1rem">
        <div class="service-card-icon">
            <img src={icon} alt="" />
        </div>
        <h3 class="service-card-title">{title}</h3>
    </a>
</div>
