---
import Card from "./ServiceCardComponent.astro";
import { allCategories } from "../../data/servicios.js";

const services = allCategories.map(cat => ({
    title: cat.title,
    icon: cat.icon,
    category: cat.href,
}));

import "../../styles/services/components/serviceGridComponent.css";
---
<div class="services-card-grid">
    {services.map((item) => (
        <Card
            title={item.title}
            icon={item.icon}
            category={item.category}
        />
    ))}
</div>