---
    const cardIcons = [
        '/icons/', // ! Replace with actual icon paths
        '/icons/',
        '/icons/',
        '/icons/',
        '/icons/',
        '/icons/',
        '/icons/',
        '/icons/',
    ]
---

<style>
    @import url('../../styles/services/components/serviceCardComponent.css');
</style>
<div class="cardContainer">
    <img src="" alt="" class="card-icon">
    <h3>Título del Servicio</h3>
</div>