.footerWrapper {
    display: flex;
    justify-content: center;
    gap: 10%;
    width: 100%;
    background-color: #004381;
    padding: 2%;
}

.footerColumn {
    display: flex;
    width: 30%;
    flex-direction: column;
    color: white;
}

.midfooterColumn {
    display: flex;
    justify-content: space-between;
    width: 40%;
    padding-inline: 2%;
    flex-direction: row;
    color: white;
    border-left: 3px solid #717171;
    border-right: 3px solid #717171;
}

#colServicios,
#colNosotros {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}


#colContacto {
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.footerLogo {
    width: 14cap;
    height: auto;
}

#footer-info-text-L {
    padding-block: 20px;
}

.contactsContainer {
    display: flex;
    align-items: center;
    gap: 10px;
}

.contactIcon {
    width: 4cap;
    height: auto;
}

h3 {
    color: white;
    margin-bottom: 1rem;
}

li {
    list-style: none;
    margin-bottom: 0.15rem;
}

a {
    text-decoration: none;
    color: #c2c2c2;
}

p {
    color: #c2c2c2;
}