* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: AvantGradeGothic, sans-serif;
  font-weight: 400;
  line-height: 1.5;
  background: #fff;
}

h1, h2, h3, h4, h5, h6 {
  font-family: AvantGradeGothic, sans-serif;
  font-weight: 400;
}

h1 {
    font-size: clamp(2rem, 5vw, 4rem);
}