.navbarWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    background-color: transparent;
    height: auto;
    width: 100%;
    position: fixed;
    z-index: 9999;
}

.navbarLinksContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
    width: 40%;
    height: 5cap;
    gap: 10%;
    opacity: 0.85;
    box-shadow: 0 4px 6px rgb(51, 51, 51 , 0.25);
    border-radius: 100px;
    border: 1px solid #D9D9D9;
    padding-inline: 20px;
}

.navbarLogo {
    height: 4cap;
    width: auto;
}

.listContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 75px;
    list-style: none;
}

.links a {
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 500;
    color: #000000;
}

.navbarContactBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15%;
    height: 5cap;
    background-color: #1C7EFF;
    opacity: 85%;
    border-radius: 100px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.25);
    gap: 20%;
}

.navbarContactBtn a {
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 500;
    color: #FFFFFF;
}

.whatsappIcon {
    height: 4cap;
    width: auto;
}