.chart {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: flex-end;
  height: 300px;
  padding: 1rem;
}

.bar {
  width: 30px;
  background: #34A9FA;
  height: 0%;
}

.progressWrapper {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  height: 100%;
  width: 10%;
}

.progressBar {
  width: 15px;
  background-color: black;
  height: 0%;
  border-radius: 16px;
}

.progressNumber {
  font-weight: 600;
}