.hero {
  position: relative;
  
  overflow: hidden;
}

.shapeWrapper {
  position: absolute;
  overflow: visible;
  inset: 0;
  z-index: -1;
}

.shape {
  width: 18%;
  height: 105%;
  background: #A1C743;
  transform: skew(-20deg);
  top: 0;
  position: absolute;
  pointer-events: none;
}

.shape-1 {
  left: -20%;
}

.shape-2 {
  left: 60%;
}


.heroContent {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  position: relative;
  z-index: 1;
  padding: clamp(4rem, 5vw, 8rem);
}

.heroImage {
  width: 35%;
  border-radius: 16px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
}