---
import IndexLayout from "../layouts/indexLayout.astro";
import "../styles/index/components/hero.css";
import "../styles/index/components/casosExito.css"
import BarChartComponent from "../components/index/BarChartComponent.astro";
import PieChartComponent from"../components/index/PieChartComponent.astro"
import CarouselComponent from "../components/index/CarouselComponent.astro";

const heroImg = '/assets/hero_section_img.png'
---

<IndexLayout title="Despacho BC">
	<section class="hero">
		<div class="shapeWrapper">
			<div class="shape shape-1"></div>
			<div class="shape shape-2"></div>
		</div>

		<div class="heroContent">
			<div>
				<h1>Despacho BC</h1>
				<BarChartComponent />
			</div>
			<img src={heroImg} alt="" class="heroImage"/>
		</div>
	</section>

	<section class="confianza">
		<PieChartComponent />
	</section>
	<section class="servicios">

	</section>
	<section class="sobre-nosotros">

	</section>
	<section class="nuestro-compromiso">

	</section>
	<section class="casos-de-exito">
		<CarouselComponent/>
	</section>
	<section class="contacto">

	</section>
</IndexLayout>
