---
import BaseLayout from "../layouts/indexLayout.astro";
---

<BaseLayout title="Despacho BC">
	<section class="hero">

	</section>
	<section class="confianza">

	</section>
	<section class="servicios">

	</section>
	<section class="sobre-nosotros">

	</section>
	<section class="nuestro-compromiso">

	</section>
	<section class="casos-de-exito">

	</section>
	<section class="contacto">

	</section>
</BaseLayout>
