---
import IndexLayout from "../layouts/indexLayout.astro";
import "../styles/index/pages/index.css";
import "../styles/index/sections/hero.css";
import "../styles/index/sections/confianza.css";
import "../styles/index/sections/services.css";
import BarChartComponent from "../components/index/BarChartComponent.astro";
import PieChartComponent from"../components/index/PieChartComponent.astro";
import CardComponent from "../components/services/ServiceCardComponent.astro";
import ServiceGridComponent from "../components/services/ServiceGridComponent.astro";

const heroImg = '/assets/hero_section_img.png'
---

<IndexLayout title="Despacho BC">
	<section class="hero">
		<div class="shapeWrapper">
			<div class="shape shape-1"></div>
			<div class="shape shape-2"></div>
		</div>

		<div class="heroContent">
			<div class="hero-content-left">
				<div class="hero-title">
					<h1 class="hero-title-black">Despacho</h1><h1 class="hero-title-green">BC</h1>
				</div>
				<p class="description">Somos un despacho con más de 25 años de experiencia.
					Estamos comprometidos con la excelencia, nuestro equipo de contadores 
					certificados cuentan con capacitación constante y actualizada.
				</p>
				<h3 class="impact-phrase">Frase de impacto</h3>
				<div class="attention-content">
					<div class="attention-text">
						<p>Ofrecemos atención personalizada, garantizando soluciones contables precisas y un acompañamiento constante en cada paso.</p>
					</div>
					<BarChartComponent />
				</div>
			</div>
			<div class="hero-content-right">
				<img src={heroImg} alt="" class="heroImage"/>
			</div>
		</div>
	</section>

	<section class="confianza">
		<div class="trust-section-wrapper">
			<div class="trust-section-content-left">
				<div class="trust-titles">
					<h3 class="trust-title-1">Cuando Tus Números Están En Orden</h3>
					<h3 class="trust-title-2">Tu Empresa Opera Sin Fricciones</h3>
				</div>
				<div class="trust-description">
					<p class="trust-description-1">
						Garantizamos que tu empresa cumpla con todas sus obligaciones fiscales sin complicaciones.
					</p>
					<p class="trust-description-2">
						Nuestro proceso está diseñado para recuperar el control contable y mantenerlo a largo plazo:
					</p>
				</div>
				<ul class="trust-unordered-list">
					<li>Revisamos Y Corregimos La Contabilidad Existente</li>
					<li>Regularizamos tu Situación Ante El SAT</li>
					<li>Establecemos Controles Contables Claros y Sostenibles</li>
					<li>Te Acompañamos Continuamente Para Mantener Todo En Orden</li>
				</ul>
			</div>
			<div class="trust-section-content-right">
				<PieChartComponent />
			</div>
		</div>
	</section>

	<section class="servicios">
		<div class="services-wrapper">
			<div class="services-title-and-description">
				<h2 class="services-title">Servicios Destacados</h2>
				<p class="services-description">En bc, trabajamos con ética y entrega brindando soluciones eficientes, asertivas y confiables que contribuyen al <span class="services-description-span">crecimiento y éxito de las empresas de nuestros clientes.</span></p>
			</div>
			<ServiceGridComponent />
		</div>
	</section>

	<section class="sobre-nosotros">
		<div class="aboutus-wrapper">
			<div class="aboutus-content-left">

			</div>
			<div class="aboutus-content-right">

			</div>
		</div>
	</section>

	<section class="nuestro-compromiso">

	</section>

	<section class="casos-de-exito">

	</section>

	<section class="contacto">

	</section>
</IndexLayout>
