---
import BaseLayout from '../layouts/BaseLayout.astro';

const wip = "/assets/WorkInProgress.jpg";
---

<BaseLayout title="Servicios">
    <section class="pageTitles">

    </section>
    <section class="services">

    </section>
    <section class="recommendedServices">

    </section>
</BaseLayout>