---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="Servicios">
    <section class="pageTitles">

    </section>
    <section class="services">

    </section>
    <section class="recommendedServices">

    </section>
</BaseLayout>