---

---
<script src="../../js/animations/BarChart.js">
    //import { gsap } from "gsap";

    
</script>

<style>
  .chart {
    display: flex;
    gap: 1rem;
    align-items: normal;
    height: 200px;
    padding: 1rem;
  }

  .bar {
    width: 40px;
    background: #34A9FA;
    height: 0;
    transition: height .4s ease;
  }

</style>

<div class="chart">
  <div class="bar" style="--h: 40%"></div>
  <div class="bar" style="--h: 70%"></div>
  <div class="bar" style="--h: 90%"></div>
  <div class="bar" style="--h: 50%"></div>
  <div class="bar" style="--h: 65%"></div>
</div>