<script src="../../js/animations/BarChart.js"></script>

<style>
  @import "../../styles/index/components/BarChart.css";
</style>

<div class="chart" >
  <div class="bar" style="--h: 20%"></div>
  <div class="bar" style="--h: 35%"></div>
  <div class="bar" style="--h: 45%"></div>
  <div class="bar" style="--h: 65%"></div>
  <div class="bar" style="--h: 85%"></div>
  <div class="bar" style="--h: 90%"></div>

  <div class="progressWrapper">
    <span class="progressNumber">100%</span>
    <div class="progressBar"></div>
  </div>
  
</div>