<script src="../../js/animations/BarChart.js"></script>

<style>
  @import "../../styles/index/components/BarChart.css";
</style>

<div class="chart">
  <div class="bar" style="--h: 14%"></div>
  <div class="bar" style="--h: 28%"></div>
  <div class="bar" style="--h: 42%"></div>
  <div class="bar" style="--h: 56%"></div>
  <div class="bar" style="--h: 70%"></div>
  <div class="bar" style="--h: 84%"></div>

  <div class="progressWrapper">
    <span class="progressNumber">100%</span>
    <div class="progressBar"></div>
  </div>
  
</div>