---
let wip = '/assets/WorkInProgress.jpg'
import "../../styles/index/sections/CasosExitoCarouselComponent.css";
---

<div class="exito-component-wrapper">
    <div class="exito-card">
        <img class="exito-card-img" src={wip} alt="">
    </div>
    <div class="exito-card">
        <img class="exito-card-img" src={wip} alt="">
    </div>
    <div class="exito-card">
        <img class="exito-card-img" src={wip} alt="">
    </div>
    <div class="exito-card">
        <img class="exito-card-img" src={wip} alt="">
    </div>
</div>