---
let wip = '/assets/WorkInProgress.jpg'
---
<style>
    @import url("../../styles/index/sections/casosExitoCarouselComponent.css");
</style>

<div class="exito-component-wrapper">
    <div class="exito-card">
        <img class="exito-card-img" src={wip} alt="">
    </div>
    <div class="exito-card">
        <img class="exito-card-img" src={wip} alt="">
    </div>
    <div class="exito-card">
        <img class="exito-card-img" src={wip} alt="">
    </div>
    <div class="exito-card">
        <img class="exito-card-img" src={wip} alt="">
    </div>
</div>