---
// Este layout sirve para las páginas secundarias, debido a la diferencia de estilos
// (Especialmente por las figuras del background)
const { title = "Despacho BC", favicon = "/favicon.svg" } = Astro.props;
import "../styles/global/fonts.css";
import "../styles/global/global.css";
import NavBarComponent from "../components/global/NavBarComponent.astro";
import FooterComponent from "../components/global/FooterComponent.astro";
---

<!doctype html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="icon" href={favicon} />
        <title>{title}</title>
    </head>
    <body>
        <NavBarComponent />
        <main>
            <slot />
        </main>
        <FooterComponent />
    </body>
</html>
