---
// Este Layout sirve para la página de inicio
const { title = "Despacho BC", favicon = "/favicon.svg" } = Astro.props;
import "../styles/fonts.css";
import "../styles/global.css";
import NavBarComponent from "../components/NavBarComponent.astro";
---

<!doctype html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="icon" href={favicon} />
        <title>{title}</title>
    </head>
    <body>
        <NavBarComponent />
        <main>
            <slot />
        </main>
        <footer></footer>
    </body>
    <style>
        body {
            margin: 0;
            width: 100%;
            height: 100%;
            /*padding-inline: clamp(4rem, 5vw, 16rem);
            padding-block: clamp(2rem, 5vw, 8rem);*/
            border: 1px solid blue;
        }
        .sectio
    </style>
</html>
