.services-card-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    place-items: center;
    gap: 3rem;
    margin: 0 auto;
    max-width: 100%;
    padding: 1%;
    overflow: auto;
}

@media (max-width: 1024px) {
    .services-card-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 640px) {
    .services-card-grid {
        grid-template-columns: 1fr;
    }
}