.services-card-component {
    width: 80%;
    background: #F8F8F8;
    border-radius: 14px;
    box-shadow: 0 4px 5px rgb(0, 0, 0, 0.25);
    transition: transform 0.3s ease;
    border: 3px solid transparent;
}

.services-card-component:hover {
    transform: translateY(-5px);
    border-color: #9AC433;
}

.service-card-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}

.service-card-icon img {
    width: 70%;
    border-radius: 100%;
    background-color: #9AC433;
    height: auto;
}

.service-card-title {
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 0.5rem;
    color: #333333;
}